arcade==2.5.5
asyncio==3.4.3
attrs==20.3.0
cffi==1.14.5
gevent==21.8.0
greenlet==1.1.1
numpy==1.20.1
Panda3D==1.10.9
Pillow==8.3.2
pycparser==2.20
pygame==2.0.1
pyglet==1.5.15
pymunk==6.0.0
pytiled-parser==0.9.4a3
PyYAML==5.4.1
Shapely==1.7.1
websocket==0.2.1
websockets==10.0
zope.event==4.5.0
zope.interface==5.4.0
